---
const { month = "Mois", year = "2025", link = "#", url = "/banner.jpg", class: extraClass = "" } = Astro.props;
---

<div
  class={`rounded-2xl card card-compact ${extraClass}`}
  style={`background-image: url('${url}'); background-size: cover; background-position: center;`}
>
  <div class="card-body glass rounded-2xl">
    <h2 class="card-title">
      {month}
      <span class="badge badge-primary">{year}</span>
    </h2>
    <p><slot /></p>
    <div class="justify-end card-actions">
      <a class="btn btn-primary" href={link}>Voir</a>
    </div>
  </div>
</div>
