---
import "../assets/app.css";
import Head from './head.astro';
const { frontmatter } = Astro.props;

import TitleCard from "../components/TitleCard.astro";
import Navbar from "../components/Navbar.astro"
import Navigation from "../components/Navigation.astro"

const bannerUrl = frontmatter.banner ?? "/banner.jpg";
---

<html
  lang="fr"
  data-theme="demolight">
  <Head title={frontmatter.title} description={frontmatter.description} />
    <body class="bg-base-100">
          <Navbar />
        <Navigation>
          <main class="pt-22 mx-4 md:mx-20">
            <TitleCard 
              title={frontmatter.title} 
              description={frontmatter.description} 
              url={bannerUrl} 
            />
            <article class="prose prose-sm md:prose-base py-16 w-full max-w-full">
                <slot />
            </article>
          </main>
        </Navigation>   
  </body>
</html>